.list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar{
  width: 250px;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  background: var(--p-overlay-popover-background);
}
